.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

body,
h1,
p {
  font-family: "Poppins", sans-serif;
}
.currenttemp {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

ul {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  list-style: none;
}

.background {
  margin: auto;
}
form {
  margin: 20px 20px;
}

.sunicon {
  color: #ffc83d;
  font-size: 100px;
}

.humid {
  color: grey;
  font-size: 100px;
}
a {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}
