body,
h1,
p {
  font-family: "Poppins", sans-serif;
}
.currenttemp {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

ul {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.background {
  opacity: 30%;
  margin: auto;
}
form {
  margin: 20px 20px;
}

.sunicon {
  color: #ffc83d;
  font-size: 100px;
}
.humid {
  color: grey;
  font-size: 100px;
}
a {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  margin-left: 320px;
}
